.nav-list-container{
    backdrop-filter:blur(10px) saturate(50%);
    color: #FFF;
    bottom: 0;
    left:0;
    position:fixed;
    transition: 500ms backdrop-filter;
    width: 100%;
    height: 100%;
    z-index:-1;
    //touch-action: none;
    pointer-events: none;

    & .nav-list{
        background-color: rgba(0,0,0,0.5);
        border:1px solid rgba(0,0,0,0.6);
        border-radius: 0 120px 0 0;
        display: block;
        position: absolute;
        left:0;
        top:0;
        transition: 1500ms cubic-bezier(0.165, 0.84, 0.44, 1) left;
        width: 60%;
        height: 100vh;
        white-space: nowrap;

        & ul{
            list-style: none;
            display: grid;
            grid-template-rows: repeat(auto-fit, 2rem);
            gap: 10px;
            width: auto;
            height: 100%;
            margin:0;
            margin-left: 20px;
            padding: 10px 0 0 10px;
            overflow: hidden;
            position: relative;
            text-align: start;
            pointer-events: all;

            & li{
                cursor: pointer;

                &::before {
                    content: attr(data-text);
                    color: rgb(236, 195, 46);
                    display: block;
                    position: absolute;
                    top: inherit;
                    left: inherit;
                    overflow: hidden;
                    margin: inherit;
                    padding: 0;
                    text-decoration: underline;
                    transition: 1600ms width;
                    width: 0px;
                    z-index: 1;
                }
    
                &:hover::before {
                    width: 8rem;
                }            
                
                &:active::before{
                    color:#FFF;
                }
            }
        }
    }
}

@media only screen and (min-width:640px){
    .nav-list-container{
        
        & .nav-list{
            width: 35%;
        }
    }
}

@media only screen and (min-width:768px){
    .nav-list-container{
        
        & .nav-list{
            width: 40%;
        }
    }
}