.nav {
	background-color: rgba(242, 242, 242, 1);
	color: rgba(29, 29, 29, 1);
	padding: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	position: fixed;
	transition: 1500ms cubic-bezier(0.165, 0.84, 0.44, 1);
	width: 100%;
	height: fit-content;

	& ul {
		list-style: none;
		display: grid;
		justify-content: center;
		align-items: center;
		grid-auto-flow: column;
		gap: 2.5%;
		width: 100%;
		overflow: hidden;
		user-select: none;

		& .logo {
			width: 7rem;
			height: 7rem;
			cursor: pointer;
		}

		& li {
			cursor: pointer;

			&::before {
				content: attr(data-text);
				color: rgb(236, 195, 46);
				display: block;
				position: absolute;
				top: inherit;
				left: inherit;
				overflow: hidden;
				margin: inherit;
				padding: 0;
				pointer-events: none;
				text-decoration: underline;
				transition: 1600ms width;
				width: 0px;
				z-index: 1;
			}

			&:hover::before {
				width: 8rem;
			}

			&:active::before {
				color: #fff;
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	.nav {
		& ul {
			justify-content: space-between;

			& .logo {
				width: 5rem;
				height: 5rem;
			}
		}
	}
}
