@use '../../../styles/variables' as *;

.footer{
    background-color: $orange-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100dvw;
    padding: 10px;

    & .footerContent{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        & .leftSection{
            display: flex;
            flex-direction: column;
            flex:0.5;
            margin-left:1rem;

            & .leftSectionTitle{
                font-size: 1.2rem;
            }
            & .leftSectionContent{
                color: $dark-color;
                font-size: 0.8rem;
                margin:0;
            }
        }

        & .rightSection{
            display: flex;
            flex-direction:column;
            flex:0.5;
            gap: 1rem;
            justify-content: center;
            
            & .rightSection__socialnetworks{
                display: flex;
                gap:10%;
                

                & a{
                    cursor:pointer;
                    filter: grayscale(0);
                    transition: 500ms ;

                    &:hover{
                        filter: grayscale(0.5);
                    }
                    &:active{
                        filter: grayscale(0.5);
                    }
                }
            }

            & .rightSection__languages{
                cursor: pointer;
                display: grid;
                grid-auto-flow: column;
                gap: 1rem;
                font-size: 1.8rem;                
                margin: 0 auto 0 0;
            }
        }
    }

    & .copyright{
        font-size: 0.8rem;
        text-align: center;
        width: 100%;

        & a{
            color:$dark-color;
            cursor:pointer;
            padding-left: 1ch;
            transition: 500ms ;

            &:hover{
                color:#FFF;
            }
        }
    }
}

@media only screen and (max-width: 640px){
    .footer{
        text-align: center;

        & .footerContent{
            flex-direction:column;

            & .rightSection{
                
                & .rightSection__languages{
                    margin: 0 auto;
                    font-size: 1.2rem;
                }
            }
        }
    }
}