.componentLayout{
    //background-color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100dvw;
    min-height: 100dvh;
}
